[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/codefoco-forks/MonoGame.Dependencies.git
[submodule "ThirdParty/NVorbis"]
	path = ThirdParty/NVorbis
	url=https://github.com/NVorbis/NVorbis.git
[submodule "ThirdParty/NVorbis40"]
	path = ThirdParty/NVorbis40
	url = https://github.com/NVorbis/NVorbis.git
[submodule "ThirdParty/SDL_GameControllerDB"]
	path = ThirdParty/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "ThirdParty/BigGustave"]
	path = ThirdParty/BigGustave
	url = https://github.com/codefoco-forks/BigGustave.git
